## PAIR PROGRAMMING ETL IV

### ETL Carga I - Creaci贸n BBDD e inserci贸n de datos
---

In [80]:
import pandas as pd
import mysql.connector
pd.options.display.max_columns = None

Es el momento de meter todos nuestros datos en SQL !!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendr谩 la informaci贸n que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendr谩 la informaci贸n obtenida en el ejercicio de pair de ETL 1.

 Nota Todo lo tendremos que hacer desde jupyter notebook

**EJERCICIO 1**

Cread la BBDD con el nombre de tiburones.

In [81]:
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="AlumnaAdalab")
      
    print("Conexi贸n realizada con 茅xito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [82]:
mydb = crear_bbdd("tiburones")

Conexi贸n realizada con 茅xito
MySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

---

**EJERCICIO 2**

Cread las tablas de la BBDD:
- Tabla ataques
- Tabla clima

In [83]:
def crear_insertar_tabla(nombre_bbdd, contrase帽a, query):
    
   
    cnx = mysql.connector.connect(user='root', password=f"{contrase帽a}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}")
   
    mycursor = cnx.cursor()
    
    
    try: 
        mycursor.execute(query)
        cnx.commit() 
   
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [84]:
df= pd.read_pickle('../files/datos_clima_attacks_clase.pkl')
df.head(2)

,case_number,year,mes,sexo,edades,country,type,activity,fatal,cat_species,speed950mb,speed900mb,speed850mb,speed800mb,speed750mb,speed700mb,speed650mb,speed600mb,speed550mb,speed500mb,speed450mb,speed400mb,speed350mb,speed300mb,speed250mb,speed200mb,direction200mb,direction250mb,direction300mb,direction350mb,direction400mb,direction450mb,direction500mb,direction550mb,direction600mb,direction650mb,direction700mb,direction750mb,direction800mb,direction850mb,direction900mb,direction950mb,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,rh_450mb,rh_400mb,rh_350mb,rh_300mb,rh_250mb,rh_200mb,timepoint,cloudcover,highcloud,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.speed,fecha
0,1791.00.00,1997.0,NaN,F,27.878808,australia,Unprovoked,NaN,Y,NaN,3.375,3.34375,3.203125,3.1875,3.078125,3.0625,3.125,3.3125,3.5,3.5625,3.578125,3.5625,3.59375,3.828125,4.265625,5.046875,137.34375,121.796875,121.875,127.1875,125.0,103.59375,101.71875,94.296875,101.484375,84.53125,81.171875,73.046875,65.78125,64.921875,67.265625,72.8125,13.421875,11.5,8.109375,5.59375,4.140625,3.546875,3.171875,3.265625,3.046875,3.1875,3.5625,3.359375,2.53125,2.171875,4.265625,5.828125,97.5,3.015625,-9999.0,-9999.0,-9999.0,25.828125,-2.78125,10.359375,1016.171875,2.546875,0.0,3.171875,2023-01-12
1,1788.05.10,1997.0,May,M,27.878808,australia,Boat,Fishing,N,NaN,3.375,3.34375,3.203125,3.1875,3.078125,3.0625,3.125,3.3125,3.5,3.5625,3.578125,3.5625,3.59375,3.828125,4.265625,5.046875,137.34375,121.796875,121.875,127.1875,125.0,103.59375,101.71875,94.296875,101.484375,84.53125,81.171875,73.046875,65.78125,64.921875,67.265625,72.8125,13.421875,11.5,8.109375,5.59375,4.140625,3.546875,3.171875,3.265625,3.046875,3.1875,3.5625,3.359375,2.53125,2.171875,4.265625,5.828125,97.5,3.015625,-9999.0,-9999.0,-9999.0,25.828125,-2.78125,10.359375,1016.171875,2.546875,0.0,3.171875,2023-01-12

In [85]:
df.columns #Verificamos los nombres de las columnas para crear las tabla

Index(['case_number', 'year', 'mes', 'sexo', 'edades', 'country', 'type',
       'activity', 'fatal', 'cat_species', 'speed950mb', 'speed900mb',
       'speed850mb', 'speed800mb', 'speed750mb', 'speed700mb', 'speed650mb',
       'speed600mb', 'speed550mb', 'speed500mb', 'speed450mb', 'speed400mb',
       'speed350mb', 'speed300mb', 'speed250mb', 'speed200mb',
       'direction200mb', 'direction250mb', 'direction300mb', 'direction350mb',
       'direction400mb', 'direction450mb', 'direction500mb', 'direction550mb',
       'direction600mb', 'direction650mb', 'direction700mb', 'direction750mb',
       'direction800mb', 'direction850mb', 'direction900mb', 'direction950mb',
       'rh_950mb', 'rh_900mb', 'rh_850mb', 'rh_800mb', 'rh_750mb', 'rh_700mb',
       'rh_650mb', 'rh_600mb', 'rh_550mb', 'rh_500mb', 'rh_450mb', 'rh_400mb',
       'rh_350mb', 'rh_300mb', 'rh_250mb', 'rh_200mb', 'timepoint',
       'cloudcover', 'highcloud', 'midcloud', 'lowcloud', 'temp2m',
       'lifted_index', 'rh2m', 'msl_pressure', 'prec_amount', 'snow_depth',
       'wind10m.speed', 'fecha'],
      dtype='object')

In [86]:
df.dtypes # Verificamos los tipos de datos.

case_number       object
year             float64
mes               object
sexo              object
edades           float64
                  ...
msl_pressure     float64
prec_amount      float64
snow_depth       float64
wind10m.speed    float64
fecha             object
Length: 71, dtype: object

In [87]:
query_ataques= '''
CREATE TABLE IF NOT EXISTS `tiburones`.`ataques` (
`id_ataque` INT NOT NULL AUTO_INCREMENT,
`case_number` VARCHAR(45),
`year` FLOAT ,
`mes` VARCHAR(45),
`sexo` VARCHAR(45),
`edades` FLOAT,
`country` VARCHAR(45),
`type` VARCHAR(45),
`activity` VARCHAR(240), 
`fatal` VARCHAR(45), 
`cat_species` VARCHAR(45), 
PRIMARY KEY (`id_ataque`,`country`),
KEY idx_country (`country`))
ENGINE = InnoDB;
'''

In [88]:
query_clima= '''CREATE TABLE IF NOT EXISTS `tiburones`.`clima` (
`id_clima` INT NOT NULL AUTO_INCREMENT,
`country` VARCHAR(45) NOT NULL,
`speed950mb` FLOAT NOT NULL,
`speed900mb` FLOAT NOT NULL,
`speed850mb` FLOAT NOT NULL,
`speed800mb` FLOAT NOT NULL,
`speed750mb` FLOAT NOT NULL,
`speed700mb` FLOAT NOT NULL,
`speed650mb` FLOAT NOT NULL,
`speed600mb` FLOAT NOT NULL,
`speed550mb` FLOAT NOT NULL,
`speed500mb` FLOAT NOT NULL,
`speed450mb` FLOAT NOT NULL,
`speed400mb` FLOAT NOT NULL,
`speed350mb` FLOAT NOT NULL,
`speed300mb` FLOAT NOT NULL,
`speed250mb` FLOAT NOT NULL,
`speed200mb` FLOAT NOT NULL,
`direction200mb` FLOAT NOT NULL,
`direction250mb` FLOAT NOT NULL,
`direction300mb` FLOAT NOT NULL,
`direction350mb` FLOAT NOT NULL,
`direction400mb` FLOAT NOT NULL,
`direction450mb` FLOAT NOT NULL,
`direction500mb` FLOAT NOT NULL,
`direction550mb` FLOAT NOT NULL,
`direction600mb` FLOAT NOT NULL,
`direction650mb` FLOAT NOT NULL,
`direction700mb` FLOAT NOT NULL,
`direction750mb` FLOAT NOT NULL,
`direction800mb` FLOAT NOT NULL,
`direction850mb` FLOAT NOT NULL,
`direction900mb` FLOAT NOT NULL,
`direction950mb` FLOAT NOT NULL,
`rh_950mb` FLOAT NOT NULL,
`rh_900mb` FLOAT NOT NULL,
`rh_850mb` FLOAT NOT NULL,
`rh_800mb` FLOAT NOT NULL,
`rh_750mb` FLOAT NOT NULL,
`rh_700mb` FLOAT NOT NULL,
`rh_650mb` FLOAT NOT NULL,
`rh_600mb` FLOAT NOT NULL,
`rh_550mb` FLOAT NOT NULL,
`rh_500mb` FLOAT NOT NULL,
`rh_450mb` FLOAT NOT NULL,
`rh_400mb` FLOAT NOT NULL,
`rh_350mb` FLOAT NOT NULL,
`rh_300mb` FLOAT NOT NULL,
`rh_250mb` FLOAT NOT NULL,
`rh_200mb` FLOAT NOT NULL,
`timepoint` FLOAT NOT NULL, 
`cloudcover` FLOAT NOT NULL, 
`highcloud` FLOAT NOT NULL, 
`midcloud` FLOAT NOT NULL, 
`lowcloud` FLOAT NOT NULL, 
`temp2m` FLOAT NOT NULL, 
`lifted_index` FLOAT NOT NULL, 
`rh2m` FLOAT NOT NULL, 
`msl_pressure` FLOAT NOT NULL, 
`prec_amount` FLOAT NOT NULL,
`snow_depth` FLOAT NOT NULL,
`wind10m.speed` FLOAT NOT NULL,
`fecha` DATE,
PRIMARY KEY (`id_clima`, `country`),
CONSTRAINT `fk_clima_ataques`
FOREIGN KEY (`country`)
REFERENCES `ataques` (`country`) ON DELETE RESTRICT ON UPDATE CASCADE)
ENGINE = InnoDB;'''

In [89]:
crear_insertar_tabla('tiburones',  'AlumnaAdalab', query_ataques)

In [90]:
crear_insertar_tabla('tiburones',  'AlumnaAdalab', query_clima)

---

**BONUS** 

Insertar los datos en las tablas.
 Nota Esta parte del pair es optativa y no ser谩 considerada para la evaluaci贸n

In [ ]:
for indice, fila in df.iterrows():# Iteramos por el dataframe para que capture los valores de cada fila y los cargue en SQL.
    
    
    
    query_datos_ataques = f"""
                INSERT INTO ataques (case_number,year, mes, sexo, edades, country, type, activity, fatal, cat_species) 
                VALUES ( "{fila['case_number']}", "{fila['year']}", "{fila['mes']}","{fila['sexo']}","{fila['edades']}", "{fila['country']}", "{fila['type']}", "{fila['activity']}", "{fila['fatal']}", "{fila['cat_species']}");
                """

    crear_insertar_tabla('tiburones','AlumnaAdalab', query_datos_ataques)# Dentro del for llamamos a la clase para que inserte los datos

In [92]:
for indice, fila in df.iterrows():

        query_datos_clima = f""" 
                        INSERT INTO clima(`country`,`speed950mb`,`speed900mb`,`speed850mb`,`speed800mb`,`speed750mb`,`speed700mb`,`speed650mb`,`speed600mb`,
                        `speed550mb`,`speed500mb`,`speed450mb`,`speed400mb`,`speed350mb`,`speed300mb`,`speed250mb`,`speed200mb`,`direction200mb`,
                        `direction250mb`,`direction300mb`,`direction350mb`,`direction400mb`,`direction450mb`,`direction500mb`,`direction550mb`,
                        `direction600mb`,`direction650mb`,`direction700mb`,`direction750mb`,`direction800mb`,`direction850mb`,`direction900mb`,
                        `direction950mb`,`rh_950mb`,`rh_900mb`,`rh_850mb`,`rh_800mb`,`rh_750mb`,`rh_700mb`,`rh_650mb`,`rh_600mb`,`rh_550mb`,`rh_500mb`,
                        `rh_450mb`,`rh_400mb`,`rh_350mb`,`rh_300mb`,`rh_250mb`,`rh_200mb`,`timepoint`,`cloudcover`,`highcloud`,`midcloud`,`lowcloud`,
                        `temp2m`,`lifted_index`,`rh2m`,`msl_pressure`,`prec_amount`,`snow_depth`,`wind10m.speed`,`fecha`)
                        VALUES ("{fila['country']}", "{fila['speed950mb']}","{fila['speed900mb']}","{fila['speed850mb']}",
                        "{fila['speed800mb']}","{fila['speed750mb']}","{fila['speed700mb']}","{fila['speed650mb']}","{fila['speed600mb']}",
                        "{fila['speed550mb']}","{fila['speed500mb']}","{fila['speed450mb']}","{fila['speed400mb']}","{fila['speed350mb']}",
                        "{fila['speed300mb']}","{fila['speed250mb']}","{fila['speed200mb']}","{fila['direction200mb']}","{fila['direction250mb']}",
                        "{fila['direction300mb']}","{fila['direction350mb']}","{fila['direction400mb']}",
                        "{fila['direction450mb']}","{fila['direction500mb']}", "{fila['direction550mb']}","{fila['direction600mb']}",
                        "{fila['direction650mb']}","{fila['direction700mb']}", "{fila['direction750mb']}","{fila['direction800mb']}",
                        "{fila['direction850mb']}","{fila['direction900mb']}", "{fila['direction950mb']}","{fila['rh_950mb']}",
                        "{fila['rh_900mb']}","{fila['rh_850mb']}", "{fila['rh_800mb']}","{fila['rh_750mb']}", "{fila['rh_700mb']}",
                        "{fila['rh_650mb']}", "{fila['rh_600mb']}","{fila['rh_550mb']}","{fila['rh_500mb']}","{fila['rh_450mb']}",
                        "{fila['rh_400mb']}","{fila['rh_350mb']}","{fila['rh_300mb']}","{fila['rh_250mb']}","{fila['rh_200mb']}",
                        "{fila['timepoint']}", "{fila['cloudcover']}","{fila['highcloud']}", "{fila['midcloud']}","{fila['lowcloud']}",
                        "{fila['temp2m']}", "{fila['lifted_index']}","{fila['rh2m']}", "{fila['msl_pressure']}","{fila['prec_amount']}",
                        "{fila['snow_depth']}","{fila['wind10m.speed']}","{fila['fecha']}")
                        """

        crear_insertar_tabla('tiburones','AlumnaAdalab', query_datos_clima)